{
	"parser": "babel-eslint",
	"ecmaFeatures": {
		"modules": true
	},
	"env": {
		"browser": true,
		"node": true
	},
	"rules": {
		"quotes": [
			2,
			"single"
		],
		"indent": [
			2,
			"tab"
		],
		"strict": 0,
		"curly": [
			2,
			"multi-line"
		],
		"valid-jsdoc": 2,
		"block-scoped-var": 1,
		"complexity": 1,
		"consistent-return": 1,
		"no-underscore-dangle": 0,
		"no-mixed-requires": [
			1,
			true
		]
	}
}
